<link rel="stylesheet" href="/app/static/style.css">
<h2>Nueva Temporada</h2>
<form method="post">
  <div class="mb-3">
    <label>Nombre</label>
    <select name="nombre" class="form-control">
      <option value="alta">Alta</option>
      <option value="media">Media</option>
      <option value="baja">Baja</option>
    </select>
  </div>
  <div class="mb-3">
    <label>Fecha Inicio</label>
    <input type="date" name="fecha_inicio" class="form-control">
  </div>
  <div class="mb-3">
    <label>Fecha Fin</label>
    <input type="date" name="fecha_fin" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
