<link rel="stylesheet" href="/app/static/style.css">
<h2>Nuevo Cliente</h2>
<form method="post">
  <div class="mb-3">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control">
  </div>
  <div class="mb-3">
    <label>Documento</label>
    <input type="text" name="documento" class="form-control">
  </div>
  <div class="mb-3">
    <label>Tipo de Cliente</label>
    <select name="tipo_cliente" class="form-control">
      <option value="nacional">Nacional</option>
      <option value="extranjero">Extranjero</option>
    </select>
  </div>
  <div class="form-check mb-3">
    <input type="checkbox" name="es_agencia" class="form-check-input" id="agencia">
    <label for="agencia" class="form-check-label">¿Es una agencia de viajes?</label>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
